html {
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: #6cacc5;
  font: 300 18px/1.6 "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
  text-align: center;
}

/* Gradient text only on Webkit */
.warning {
  background: -webkit-linear-gradient(45deg,  #c97874 10%, #463042 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8c5059;
  font-weight: 400;
  margin: 0 auto 6em;
  max-width: 9em;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
  
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

/* Calculator after dividing by zero */
.broken {
  animation: broken 2s;
  transform: translate3d(0,-2000px,0);
  opacity: 0;
}

.viewer {
  color: #c97874;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}


/* Same as above, modified for operators */
.ops:focus::after {
  content: attr(data-ops);
  margin-left: -210px;
  width: 420px;
}

/* Same as above, modified for result */
.equals:focus::after {
  content: attr(data-result);
  margin-left: -300px;
  width: 600px;
}

/* Reset button */

.reset {
  background: rgba(201,120,116,.28);
  color:#c97874;
  font-weight: 400;
  margin-left: -77px;
  padding: 0.5em 1em;
  position: absolute;
    top: -20em;
    left: 50%;
  width: auto;
  height: auto;
  
  &:hover {
    background: #c97874;
    color: #100a1c;    
  }
  
  /* When button is revealed */
  &.show {
    top: 20em;
    animation: fadein 4s;
  }
}

/* Animations */
/* ------------------------------------ */

:root{
    --main-color:rgb(59, 138, 184);
}

body {
    background: linear-gradient(to right, #bbd2c5, #536976);

}

.navbar{
    font-family: 'Monoton', cursive;
}

.btn-cal {
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 10px;
    margin: 4px;
    border: none;
    background-color: #ecf0f1;
    color: rgb(59, 59, 59);
    font-weight: 600;
    height: 50px;
    opacity: .9;
    
}

.btn-cal:hover {
    opacity: 1;
    
}

.btn-cal:active{
    box-shadow: inset 5px 5px 15px 3px rgba(53, 50, 50, 0.733) ;
}

.card{
    background: black;
}

.card-body {
    box-shadow: -5px -5px 15px rgba(65, 63, 63, 0.753);
}
.operator , #equals {
    color: #ecf0f1;
    background-color: var(--main-color);
    
}

.operator-font{
    font-size: 20px;
}

